.title 
{
    font-size: 18px !important;
}

.collection-item p
{
    float: right;
}

.collection-item img 
{
    float: left;
    margin-right: 1%;
}

.collection-item 
{
    padding-bottom: 200px !important;
}

.quote
{
    color: #009688 !important;
}

