.title 
{
    font-size: 18px !important;
}

.collection-item p
{
    float: right;
}

.collection-item img, .collection-item video
{
    float: left;
    margin-right: 1%;
}

.collection-item 
{
    padding-bottom: 200px !important;
}

.quote
{
    color: #009688 !important;
}

#back 
{
    position: fixed;
    left: 1%;
}

.pagination 
{
    color: white;
}