body 
{
    background-color: #37474F;
}

nav 
{
    position: fixed;
    z-index: 1;
    top: 0;
}

.float
{
    z-index: 1;
    position: fixed;
    top: 90%;
    left: 94%;
}

#addBoard 
{
    margin-top: 10%;
    background-color: #37474F;
    color: white;
    border: none;
}

#boardInput 
{
    padding-bottom: 0.5%;
    color: white;
}

.right 
{
    text-align: right;
}

tr 
{
    padding-left: 10%;
    padding-right: 10%;
}

.center 
{
    text-align: center;
}

input 
{
    border-bottom: 1px solid cyan !important;
}

.center a 
{
    margin-left: 2%;
    margin-right: 3%;
}

.sidenav
{
    color: white !important;
    background-color: #455A64 !important;
}

.sidenav *
{
    color: white !important;
}


.collection-item 
{
    margin: 0;
    background-color: #455A64 !important;
    color: white !important;
    border: none !important;
    padding: 2% !important;

}

.collection 
{
    margin-top: 60px;
    z-index: 0;
    position: relative;
    border: none !important;
    font-size: 22px;
    height: 100%;
}

hr 
{
    border: 2px solid #37474F;
    margin: 0;
}
